

// Colors

$mainColor: #3e64ff;
$secondColor: #999;
$darkGrey: #cfcfcf;

// Fonts

$mainFont: 'Poppins', sans-serif;

// Shadows

$mainShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

// Transitions
$mainTransition: all 0.3s linear;

// Spacing

$mainSpacing: 3px;